.TagInput {
    position: relative;
    font-size: 1em;
    padding: 0.2em 0.2em 0.4em 0.2em;
    border-bottom: solid 0.2em #bfbfbf;
    outline: none;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.TagInput.Focus {
    border-bottom-color: #1e90ff;
}

.TagInput label {
    display: block;
    position: relative;
    margin: 0 0 -1.8em -0.1em;
    padding: 0.2em;
    font-size: 1em;
    font-weight: 400;
    color: #bfbfbf;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.TagInput label.Hide {
    opacity: 0;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}

.TagInput .TagInputElement {
    display: block;
    width: 1px;
    height: 1px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    outline: none;
    position: absolute;
    bottom: -0.2em;
    left: 1em;
}

.TagInput .TagInputText {
    position: relative;
    top: 0.1em;
    display: inline-block;
    width: auto;
    padding: 0.1em 0 0.1em 0;
    border: none;
    background: none;
    margin: 0;
    font-size: 1em;
    outline: none;
}

.TagInput .TagItem {
    position: relative;
    top: 0.1em;
    display: inline-block;
    padding: 0.2em 0.8em 0.2em 0.8em;
    margin: 0 0.4em 0 0;
    font-size: 0.8em;
    background-color: #fafafa;
    border: solid 0.1em #e1e1e1;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.TagInput .TagItem.Hide {
    opacity: 0;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}

.TagInput .TagItem:hover {
    background-color: #f0f0f0;
    border: solid 0.1em #bfbfbf;
}

.TagInput .TagItem .RemoveTag {
    margin: 0.2em 0 0 0.4em;
    color: #bfbfbf;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.TagInput .TagItem .RemoveTag:hover {
    color: #EF5350;
}